<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Weather</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h1>Weather</h1>
        <p class="lead">Today everybody can't look at tomorrow. More correctly not only everybody can look. Few people can do it.</p>
    </div>

    <table class="table table-borderless">
        <thead>
        <tr>
            <th class="text-center" scope="col">Location</th>
            <th class="text-center" scope="col">Temperature</th>
        </tr>
        </thead>
        <tbody th:each="weatherData: ${weatherData.entrySet()}">
        <tr>
            <td class="text-center" th:text="${weatherData.getKey()}"/>
            <td class="text-center" th:text="${weatherData.getValue()}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
